.root {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: rgb(46, 170, 220);
  border: 1px solid #0088be;
  font-weight: 600;
}
.root:active {
  background-color: rgb(9, 144, 197);
}

.root:disabled {
  opacity: 0.6;
  cursor: auto;
}

.mainButton {
  padding: 0.5rem 1.1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dropDownButton {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 0.65em auto, 100%;
}
.dropdown {
  z-index: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  transform-origin: 50% bottom;
  width: fit-content;
  background-color: white;
  transform-origin: center center;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
.headingContainer {
  font-weight: 500;
}
.heading {
  margin: 0;
  padding: 0 10px;
  text-align: start;
}
.listContainer {
  list-style-type: none;
  margin: 5px 0 0 0;
  padding: 0;
}
.items {
  white-space: nowrap;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
}
.items:hover {
  background-color: rgba(15, 15, 15, 0.05);
}

.items:active {
  background-color: rgba(15, 15, 15, 0.137);
}

.container {
  display: flex;
  position: relative;
  width: fit-content;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: aliceblue; */
}
