/* .root {
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: rgb(46, 170, 220);
  border: 1px solid #0088be;
  font-weight: 600;
}
.root:active {
  background-color: rgb(9, 144, 197);
}
.mainButton {
  padding: 0.5rem 1.1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dropDownButton {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: 0.65em auto, 100%;
}
.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  transform-origin: 50% bottom;
  width: 360px;
  background-color: white;
  transform-origin: center center;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
.headingContainer {
  padding-left: 20px;
  font-weight: 500;
}
.heading {
  margin-bottom: 0;
}
.listContainer {
  list-style-type: none;
  margin: 5px 0 1em 0;
  padding: 0;
}
.items {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  padding: 2px 0 4px 20px;
  transform: translateZ(-1.8%);
}
.items:hover {
  background-color: rgba(15, 15, 15, 0.05);
}

.items:active {
  background-color: rgba(15, 15, 15, 0.137);
}

.container {
  display: flex;
  position: relative;
} */
